@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  color: white;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.container {
  max-width: none;
}
.vertical-center {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50vh;
  width: 97vw;
  text-align: center;
}
.vertical-bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  top: 135vh;
  width: 97vw;
  justify-content: center;
}

.btn {
  font-weight: bold;
  padding: 1rem 3rem;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

/* page 1 */
.main {
  height: 150vh;
  background-image: url(assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
}

.scroll-down {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  align-items: center;
}
/* page 2 */
#about {
  height: 150vh;
  background-image: url(assets/the-games-bg.jpg);
  background-size: cover;
  background-position: center;
}

.swipe {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* page 3 */
#features {
  height: 150vh;
  background-image: url(assets/features.jpg);
  background-size: cover;
  background-position: center;
}

.container-features {
  padding-left: 55%;
  max-width: 90%;
  top: 30%;
  position: relative;
}
.feat-title {
  position: relative;
  left: -8%;
}

.container-timeline {
  position: relative;
  margin: 0 auto;
}

.container-timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: -2.3%;
  margin-left: -20px;
  margin-top: 15px;
  height: 189px;
}

.bullet::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -40px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.features2::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -40px;
  border: 2px solid white;
  top: 202px;
  border-radius: 50%;
  z-index: 1;
}

.features3::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -40px;
  background-color: transparent;
  border: 2px solid white;
  top: 280px;
  border-radius: 50%;
  z-index: 1;
}

.circle1 {
  margin-top: 4rem;
  padding-top: 1rem;
}

.circle2 {
  margin-top: 7.1rem;
}

.circle3 {
  margin-top: 3.7rem;
}

/* page 4 */
#requirements {
  height: 150vh;
  background-image: url(assets/requirements.png);
  background-size: cover;
  background-position: center;
}

/* page 5 */
#quotes {
  height: 150vh;
  background-image: url(assets/top-score-bg.png);
  background-size: cover;
  background-position: center;
}
/* page 6 */
#news {
  height: 150vh;
  background-image: url(assets/newsletter.png);
  background-size: cover;
  background-position: center;
}

.skull {
  display: flex;
  padding-left: 15rem;
}
.page-footer {
  padding-top: 15rem;
  max-width: 90%;
  margin-left: 5%;
  align-items: center;
}

.footer-menu {
  margin-left: 10%;
  padding-left: 10%;
}

.vertical-footer-bottom {
  display: flex;
  position: absolute;
  top: 40vh;
  width: 97vw;
  justify-content: center;
}

/* font family */
h1 {
  font-family: "Bebas Neue";
  font-size: 80px;
}

h2 {
  font-family: "Bebas Neue";
  font-size: 60px;
}

h3 {
  font-family: "Bebas Neue";
  font-size: 24px;
}

h4 {
  font-family: "open sans";
  font-size: 18px;
  color: yellow;
}

h5 {
  font-family: "open sans";
  font-size: 18px;
}

p {
  font-family: "open sans";
  font-size: 14px;
}
/* font family */

::-webkit-scrollbar {
  display: none;
}
